rerank:
  likes:
    - "Deep Residual Learning for Image Recognition"
    - "Generative Adversarial Networks"
    - "Visual Instruction Tuning"
    - "An Image is Worth 16x16 Words: Transformers for Image Recognition at Scale"
    - "Scaling Laws for Neural Language Models"
    - "Momentum Contrast for Unsupervised Visual Representation Learning"
    - "Denoising Diffusion Probabilistic Models"
    - "Adding Conditional Control to Text-to-Image Diffusion Models"
    - "ACDC: Autoregressive Coherent Multimodal Generation using Diffusion Correction"
    - "MathHay: An Automated Benchmark for Long-Context Mathematical Reasoning in LLMs"
    - "Ordinal Preference Optimization: Aligning Human Preferences via NDCG"
    - "CAPEEN: Image Captioning with Early Exits and Knowledge Distillation"
    - "SePPO: Semi-Policy Preference Optimization for Diffusion Alignment"
    - "The Dawn of Video Generation: Preliminary Explorations with SORA-like Models"
    - "Cross Resolution Encoding-Decoding For Detection Transformers"
    - "PostEdit: Posterior Sampling for Efficient Zero-Shot Image Editing"
    - "Gap Preserving Distillation by Building Bidirectional Mappings with A Dynamic Teacher"
    - "Distillation-Free One-Step Diffusion for Real-World Image Super-Resolution"
    - "Fine-Tuning CLIP’s Last Visual Projector: A Few-Shot Cornucopia"
    - "xLSTM-FER: Enhancing Student Expression Recognition with Extended Vision Long Short-Term Memory Network"
    - "Realizing Video Summarization from the Path of Language-based Semantic Understanding"
    - "Exploiting Discriminative Codebook Prior for Autoregressive Image Generation"
    - "NextStep-1: Toward Autoregressive Image Generation with Continuous Tokens at Scale"
    - "Bridging Continuous and Discrete Tokens for Autoregressive Visual Generation"
  dislikes:
    - "RobustEMD: Domain Robust Matching for Cross-domain Few-shot Medical Image Segmentation"
    - "Semantic Segmentation of Unmanned Aerial Vehicle Remote Sensing Images using SegFormer"
    - "Y-CA-Net: A Convolutional Attention Based Network for Volumetric Medical Image Segmentation"
    - "LightM-UNet: Mamba Assists in Lightweight UNet for Medical Image Segmentation"
    - "Denoising diffusion probabilistic models for 3D medical image generation"
    - "The Segment Anything Model (SAM) for Remote Sensing Applications: From Zero to One Shot"
    - "OpenAI融资70亿，只剩孤家寡人？众人怒揭奥特曼真面目"
    - "Pika 1.5重磅升级！万物皆可爆炸，搞笑特效全网病毒式疯传"
    - "MIT系初创打破Transformer霸权！液体基础模型刷新SOTA，非GPT架构首次显著超越Transformer"
    - "Ilya预言错了！华人Nature一作给RLHF“判死刑”，全球大模型都不可靠"
    - "“群体智能”剑指AGI革命！国产架构挑战Transformer霸权，首款非Attention模型更新"
    - "FedBiP: Heterogeneous One-Shot Federated Learning with Personalized Latent Diffusion Models"
    - "Learning De-Biased Representations for Remote-Sensing Imagery"
    - "Brain Mapping with Dense Features: Grounding Cortical Semantic Selectivity in Natural Images With Vision Transformers"
    - "Art Forgery Detection using Kolmogorov Arnold and Convolutional Neural Networks"
    - "Synthetic Generation of Dermatoscopic Images with GAN and Closed-Form Factorization"
    - "BrainCodec: Neural fMRI codec for the decoding of cognitive brain states"
    - "Evaluation of Code LLMs on Geospatial Code Generation"
    - "LLaVA Needs More Knowledge: Retrieval Augmented Natural Language Generation with Knowledge Graph for Explaining Thoracic Pathologies"
  # embedding_json: ./configs/score_proj_embedding.json

sources:
    # - func: infiv.spiders.zhihu.get_info
    #   url: "https://www.zhihu.com"
    #   subject: "feed"
    # - func: infiv.spiders.bilibili.get_info
    #   url: "https://www.bilibili.com"
    #   subject: "feed"
    # - func: infiv.spiders.bioxriv.get_info
    #   url: "https://www.biorxiv.org/collection/bioinformatics"
    #   subject: "paper"

    ## daily arxiv update
    # - func: infiv.spiders.rsshub.cool_paper_arxiv.get_info
    #   url: "http://localhost:1200/papers/arxiv/cs.CV?limit=500"
    #   subject: "paper"
    # - func: infiv.spiders.rsshub.cool_paper_arxiv.get_info
    #   url: "http://localhost:1200/papers/arxiv/cs.CL?limit=500"
    #   subject: "paper"
    # - func: infiv.spiders.rsshub.cool_paper_arxiv.get_info
    #   url: "http://localhost:1200/papers/arxiv/cs.RO?limit=500"
    #   subject: "paper RO"
    
    # spider for arxiv from arxiv api
    # support: expired_date but with time lagging ~1d
    # - func: infiv.spiders.arxiv.get_info
    #   url: cs.CV
    #   subject: "paper"
    # - func: infiv.spiders.arxiv.get_info
    #   url: cs.CL
    #   subject: "paper"
    # - func: infiv.spiders.arxiv.get_info
    #   url: cs.RO
    #   subject: "paper"

    - func: infiv.spiders.rsshub.cool_paper_arxiv.get_info
      url: "http://localhost:1200/papers/arxiv/cs.CV?limit=500"
      subject: paper
    - func: infiv.spiders.rsshub.cool_paper_arxiv.get_info
      url: "http://localhost:1200/papers/arxiv/cs.CL?limit=500"
      subject: paper
    - func: infiv.spiders.rsshub.cool_paper_arxiv.get_info
      url: "http://localhost:1200/papers/arxiv/cs.RO?limit=500"
      subject: paper
    # - func: infiv.spiders.rsshub.cool_paper_arxiv.get_info
    #   url: "http://localhost:1200/papers/arxiv/cs.AI?limit=500"
    #   subject: paper
    # - func: infiv.spiders.rsshub.default.get_info
    #   url: "http://localhost:1200/nature/research"
    #   subject: paper
    # - func: infiv.spiders.rsshub.default.get_info
    #   url: "https://mshibanami.github.io/GitHubTrendingRSS/daily/all.xml"
    #   subject: coding
    
    - func: infiv.spiders.rsshub.default.get_info
      url: "https://wechat2rss.xlab.app/feed/51e92aad2728acdd1fda7314be32b16639353001.xml"  # 机器之心
      subject: "feed"
    - func: infiv.spiders.rsshub.default.get_info
      url: "https://wechat2rss.xlab.app/feed/3be891c2f4e526629ab055a297cc2cd6c1f0a563.xml"  # paper weekly
      subject: "feed"
